.bg-light{
  background-color: #CCAFC4 !important;
    font-family: 'Kavivanar', cursive !important;
}
body{
  background-color: #FDF2FF;
}

.dropdown-item, .dropdown-menu{
  background-color: #CCAFC4;
  color: #4D2757;
}

a.navbar-brand{
  background-color: #CCAFC4;
  color: #4D2757;
}

.navbar-brand{
  background-color: #CCAFC4;
  color: #4D2757;
}

.nav-item{
  background-color: #CCAFC4;
  color: #4D2757;
}

#navbarNavDropdown{
  background-color: #CCAFC4;
  color: #4D2757;
}

.intro-index{
  padding: 50 px;
  width 100%;
  text-align: center;
  margin: 50px;
  color: #4D2757;
  font-family: 'Kavivanar', cursive;
}
